$baseline: 20px;

$base-font-color:           #000;
$font-size-base:            14px;


$gray: rgb(127, 127, 127) !default;
$gray-100: #EBEBEB !default;
$gray-200: #CCCCCC !default;
$gray-300: #ADADAD !default;
$gray-400: #8F8F8F !default;
$gray-500: #707070 !default;
$gray-600: #5C5C5C !default;
$gray-700: #454545 !default;
$gray-800: #333333 !default;
$gray-900: #212529 !default;
$gray-u1: #ecf0f1;


// Theme Colors
$primary: #0A3055 !default;
$light: #E1DDDB !default;
$theme-blue: #36c;
$white: #fff;
