{
  "branches": ["master", "next"],
  "tagFormat": "v${version}",
  "verifyConditions": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": {
        "path": "dist/*"
      }
    }
  ],
  "analyzeCommits": "@semantic-release/commit-analyzer",
  "generateNotes": "@semantic-release/release-notes-generator",
  "prepare": [
    "@semantic-release/npm",
    {
      "path": "semantic-release-export-data",
      "output": "release.json"
    }
  ],
  "publish": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": {
        "path": "dist/*"
      }
    }
  ],
  "success": [],
  "fail": []
}
