{
  "branch": "master",
  "tagFormat": "v${version}",
  "plugins": ["semantic-release-export-data"],
  "verifyConditions": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": {
        "path": "dist/*"
      }
    }
  ],
  "analyzeCommits": "@semantic-release/commit-analyzer",
  "generateNotes": "@semantic-release/release-notes-generator",
  "prepare": "@semantic-release/npm",
  "publish": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": {
        "path": "dist/*"
      }
    }
  ],
  "success": [],
  "fail": []
}
