{
  "branches": [
    "mashal-m/semantic-release-workaround",
    "master",
    {
      "name": "beta",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    ["@semantic-release/exec",
      {
        "publishCmd": "echo ::set-output name=nextVer::${nextRelease.version}"
      }
    ]
  ],
  "tagFormat": "v${version}",
  "verifyConditions": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": {
        "path": "dist/*"
      }
    }
  ],
  "analyzeCommits": "@semantic-release/commit-analyzer",
  "generateNotes": "@semantic-release/release-notes-generator",
  "prepare": "@semantic-release/npm",
  "publish": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": {
        "path": "dist/*"
      }
    }   
  ],
  "success": [],
  "fail": []
}