$spacer: 1rem;
$blue: #007db8;
$white: #fff;
@import "@edx/brand/paragon/fonts.scss";
@import "@edx/brand/paragon/variables.scss";
@import "@edx/paragon/scss/core/core.scss";
@import "@edx/brand/paragon/overrides.scss";
@import './Menu/menu.scss';

.dropdown-item a {
  text-decoration: none;
}

.icon-button {
  display: inline-flex;
  line-height: 3rem;
  background: transparent;
  vertical-align: middle;
  text-align: center;
  border: none;
  height: 3rem;
  width: 3rem;
  padding: .75rem;
  justify-content: center;
  align-items:center;
  &:hover, &:focus {
    background: rgba(0,0,0,.1);
  }
}

.learning-header {
  min-width: 0;

  .course-title-lockup {
    min-width: 0;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-bottom: 0.1rem;
    }
  }

  .user-dropdown {
    .btn {
      height: 3rem;
      @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
        padding: 0 0.5rem;
      }
    }
  }
}

.site-header-mobile,
.site-header-desktop {
  position: relative;
  z-index: 1000;
}

.site-header-mobile {
  height: 3rem;

  .nav-link {
    text-decoration: none;
    cursor: pointer;
  }
  img {
    height: 1.5rem;
  }
}


.site-header-desktop {
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
  background: $white;
  .nav-link {
    text-decoration: none;
  }
  .logo {
    display: block;
    box-sizing: content-box;
    position: relative;
    top: -.05em;
    height: 1.75rem;
    padding: 1rem 0;
    margin-right: 1rem;
    img {
      display: block;
      height: 100%;
    }
  }
  .main-nav {
    .nav-link {
      padding: 1.125rem 1rem;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: .01em;
    }
    .nav-link:hover,
    .nav-link:focus,
    .nav-link.active,
    .expanded .nav-link {
      background: $component-active-bg;
      color: $component-active-color;
    }
    .menu {
      position: static;
      .menu-content {
        border-top: solid 2px $component-active-bg;
        left: 0;
        right: 0;
        box-shadow: 0 1px 2px rgba(0,0,0,.25);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        padding: 1rem;
      }
    }
  }
  .search-input {
    border-radius: $rounded-pill;
  }
}

.font-size-18{
  font-size: 18px;
}
.font-size-12{
  font-size: 12px;
}
.font-size-9{
  font-size: 9px;
}
.line-height-24{
  line-height: 24px;
}
.line-height-20{
  line-height: 20px;
}
.icon-size-20{
  width: 20px !important;
  height: 20px !important;
}
.cursor-pointer{
  cursor: pointer;
}
#popover-positioned-bottom{
  max-height: calc(100% - 68px);
  min-height: 1220px;
  min-width: 549px;
}
.notification-button{
  width: 36px;
  height: 36px;
}
.notification-badge{
  position: absolute;
  margin-top: 18px;
  margin-left: -21px;
  border: 2px solid #FFFFFF;
}
.notification-tray-container{
  .dropdown-toggle::after {
    display: none;
  }
  .expandable{
    position: relative !important;
    margin-left: 4px;
    padding: 2px 5px;
    border-radius: 10rem;
    font-size: 9px;
  }
  .dropdown-toggle{
    font-size: 14px;
    padding-top: 0px !important;
    padding-bottom: 12px !important;
    div{
      min-height: 6px !important;
      min-width: 6px !important;
    }
  }
  .dropdown-item{
    font-size: 14px;
    font-weight: 500;
  }
  .notification-content{
    .notification-item-content{
      p{
        margin-bottom: 0px;
      }
      b{
        color: #00262B;
      }
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
    .unread{
      height: 10px;
      width: 10px;
    }
  }
}
