@import './Menu/menu.scss';
@import './studio-header/StudioHeader.scss';

.dropdown-item a {
  text-decoration: none;
}

.icon-button {
  display: inline-flex;
  line-height: 3rem;
  background: transparent;
  vertical-align: middle;
  text-align: center;
  border: none;
  height: 3rem;
  width: 3rem;
  padding: .75rem;
  justify-content: center;
  align-items:center;

  &:hover, &:focus {
    background: rgba(0, 0, 0, .1);
  }
}

.learning-header {
  min-width: 0;

  .course-title-lockup {
    min-width: 0;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-bottom: var(--pgn-spacing-spacer-base);
    }
  }

  .user-dropdown .btn {
    height: 3rem;

    @media (--max-pgn-size-breakpoint-xs) {
      padding: 0 .5rem;
    }
  }
}

.site-header-mobile,
.site-header-desktop {
  position: relative;
  z-index: 1000;
}

.site-header-mobile {
  height: 3rem;

  .nav-link {
    text-decoration: none;
    cursor: pointer;
  }

  img {
    height: 1.5rem;
  }
}


.site-header-desktop {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
  background: var(--pgn-color-white);

  .nav-link {
    text-decoration: none;
  }

  .logo {
    display: block;
    box-sizing: content-box;
    position: relative;
    top: -.05em;
    height: 1.75rem;
    padding: var(--pgn-spacing-spacer-base) 0;
    margin-right: var(--pgn-spacing-spacer-base);

    img {
      display: block;
      height: 100%;
    }
  }
  .secondary-menu-container {
    .nav-link:hover,
    .nav-link:focus,
    .nav-link.active,
    .expanded .nav-link {
      background: $component-active-bg;
      color: $component-active-color;
    }
  }
  .main-nav {
    .nav-link {
      padding: 1.125rem var(--pgn-spacing-spacer-base);
      text-decoration: none;
      font-weight: 500;
      letter-spacing: .01em;
    }

    .nav-link:hover,
    .nav-link:focus,
    .nav-link.active,
    .expanded .nav-link {
      background: var(--pgn-color-bg-active);
      color: var(--pgn-color-active);
    }

    .menu {
      position: static;

      .menu-content {
        border-top: solid 2px var(--pgn-color-bg-active);
        left: 0;
        right: 0;
        box-shadow: var(--pgn-elevation-box-shadow-down-1);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        padding: var(--pgn-spacing-spacer-base);
      }
    }
  }

  .search-input {
    border-radius: var(--pgn-size-rounded-pill);
  }
}

.content b {
  color: var(--pgn-color-primary-500) !important;
  font-weight: 500 !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.py-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pb-10px {
  padding-bottom: 10px;
}

.line-height-24 {
  line-height: 24px;
}

.line-height-20 {
  line-height: 20px;
}

.line-height-10 {
  line-height: 10px !important;
}

.icon-size-20 {
  width: 20px !important;
  height: 20px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.notification-button {
  width: 36px;
  height: 36px;
}

.notification-icon{
  height: 23.33px !important;
  width: 23.33px !important;
}

.notification-badge {
  position: absolute;
  margin-top: 18px;
  margin-left: -21px;
  border: 2px solid var(--pgn-color-white);
  font-size: 9px !important;
}

.popover {
  max-height: calc(100% - 68px);
  min-height: 1220px;
  filter: none;
  box-shadow: var(--pgn-elevation-box-shadow-down-2);

  &.medium-screen {
    min-width: 24.313rem;
  }

  &.large-screen {
    min-width: 34.313rem;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .expandable {
    position: relative !important;
    margin-left: 4px;
    padding: 2px 5px;
    border-radius: 10rem;
    font-size: 9px;
  }

  .dropdown-toggle {
    font-size: 14px;
    padding-top: 0 !important;
    padding-bottom: 12px !important;

    div {
      min-height: 6px !important;
      min-width: 6px !important;
    }
  }

  .dropdown-item {
    font-size: 14px;
    font-weight: 500;
  }

  .notification-content {
    .notification-item-content {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;

      p {
        margin-bottom: 0;
      }

      b {
        color: var(--pgn-color-primary-500);
      }
    }

    .unread {
      height: 10px;
      width: 10px;
    }
  }
}
